@inherits LayoutComponentBase
<link rel="stylesheet" href="css/BaseLayout.css" />
<a href="/" class="three-d">

    <button class="button-face" type="button" href="/">HOME</button>
</a>
<div class="empty">

    <div class="content px-4">
        @Body
    </div>
 
</div>