@inherits LayoutComponentBase
<link rel="stylesheet" href="css/BaseLayout.css" />
    <nav id="topnav">
         
        <a id="logo" class="nav-link" href="/">Home</a>
        <a class="nav-link" href="https://www.faytechcc.edu/">FTCC</a>
        <a class="nav-link" href="https://faytechcc.blackboard.com/?new_loc=%2Fultra%2Fcourse">Blackboard</a>
        <a class="nav-link" href="https://selfserv.faytechcc.edu/">Self-Service</a>
        <a class="nav-link" href="https://www.faytechcc.edu/contact/">Contact</a>
        
          
    </nav>
    <div class="empty">

        <div class="content px-4">
            @Body
        </div>
 
    </div>

@*<div class="dropdown">

    <button class="dropbtn">
        Discover
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
        <a href="RegistrationPage">Register</a>
        <a href="LoginModal">Login</a>
        <a href="https://www.faytechcc.edu/news/">News</a>
        <a href="https://www.faytechcc.edu/financial-aid/">Financial Aid</a>
        <a href="https://www.faytechcc.edu/events/">Events</a>
        <a href="https://map.faytechcc.edu/?id=2037#!ct/64989,64988,64235,63975,63968,64237,64238,64239,64240,64241,64242,64243,64244,64245,64221,64227,64229,64230,64231,64232,66570,66571?s/">Map</a>
    </div>
</div>*@