@inherits LayoutComponentBase

<link rel="stylesheet" href="css/BaseLayout.css" />
    <nav id="topnav">
        <a id="logo" class="nav-link" href="/">Home</a>        
    </nav>
    <style>
        body{
              background-image: url("Images/VITA_Opacity50.png");
              background-size: cover;
              background-repeat: no-repeat;
        }
    </style>
    <div class="empty">

        <div class="content px-4">
            @Body 
        </div>
    </div>
