@inherits LayoutComponentBase

<PageTitle>BlazerUI</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />

    </div>
     
    <main>
        <div class="topnav">

        <a class="nav-links" href="https://www.faytechcc.edu/">FTCC Home</a>
        <a class="nav-links" href="https://faytechcc.blackboard.com/?new_loc=%2Fultra%2Fcourse">Blackboard</a>
        <a class="nav-links" href="https://selfserv.faytechcc.edu/">Self Service</a>
        <a class="nav-links" role="button" href="indexAdminLogin.jsp" data-target="#user-login" data-toggle="modal">Log In</a>


        </div>
        @*<div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank"></a>
        </div>*@

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
