@page "/GetSession"
@layout BaseLayout
@inject Blazored.SessionStorage.ISessionStorageService session
@using BlazerUI.Data
@using Blazored.SessionStorage;
 
<p style="color:white;font-size:200px;" </p>
