@page "/"
@namespace BlazerUI.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}
 
 
 
<script src="bootstrap/js/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="bootstrap/js/bs-init.js"></script>
<script src="bootstrap/js/loginAction.js"></script>
<script src="bootstrap/js/theme.js"></script>
<script src="bootstrap/js/chart.min.js"></script>
<script src="LoginAction.js"></script>
<script defer src="https://app.fastbots.ai/embed.js"
        data-bot-id="clmgssu5z002dprabptscytkn"
        data-fabicon="http://d7keiwzj12p9.cloudfront.net/chatbubbles/Untitled_design(112)-1697201379457.webp"
        data-fab-position="right"
        data-fabbg="#ffffff"></script>
<component type="typeof(App)" render-mode="ServerPrerendered" />
<div id="blazor-error-ui">   

    <environment include="Staging,Production">
        An error has occurred.
    </environment>
    <environment include="Development">
        An unhandled exception occurred.
    </environment>
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
 