@page "/GetSession"
@layout BaseLayout
@inject Blazored.SessionStorage.ISessionStorageService session
@using BlazerUI.Data
@using Blazored.SessionStorage;
 
@GetSessionUser();
<p style="color:white;font-size:200px;">@user</p>
 
@inject NavigationManager NavManager
@code {
    string hey = "HELLO";
    public string user;
    public async Task GetSessionUser()
    {
        NavManager.NavigateTo("LoginTest", true);
        user = "Frank";
        //user = await session.GetItemAsync<UserInfo>(user.UserName);


         if (user != null)
        {
            NavManager.NavigateTo("LoginTest", true);
        }
        else
        {
            //NavManager.NavigateTo("Error", true);
        }
    }
}
