@page "/"
<link href="css/site.css" rel="stylesheet" />
<link href="css/button-style.css" rel="stylesheet" />
<link href="css/navbar.css" rel="stylesheet" />
<link rel="stylesheet" href="bootstrap2/bootstrap.min.css">


 
<PageTitle>FTCC's' AI Chatbot</PageTitle>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<div>     
    <input class="input-textbox" @bind="topic" placeholder="Enter Message --> "></input>      
</div>

 
 
<p class="chatbot-output-box" style="text-align:justify;display:inline-block;background-color: @backgroundColor;">

    <div>
        <img src="Images/FTCC_AI_Head.png" alt="FTCC Trojan Logo">
         
    </div> 
     
    @for (int i = 0; i < messages.Count; i++)
    {
        if (i % 2 == 0)
        {
            <div class="question" style="color:blue">@user@messages[i]</div>
        }
        else
        {
            <div class="response" style="color: red">@chatBot@messages[i] </div>
             
        }
        
    }
</p>
 
<button class="glow-on-hover" @onclick="GenerateInstagramPost">Ask ChatAI</button>
<button class="btn-hover color-2"@onclick="ClearBox">CLEAR</button>
<button class="btn-hover color-4" @onclick="ChangeBackgroundColor">Toggle Blk/Wht</button>
<button class="btn-hover color-3" @onclick="ChangeBackgroundColorRandom">RANDOM COLOR</button>
 


@using System.Net.Http;
@using Newtonsoft.Json;
@using System.Text;
@using System.Net.Http.Headers;
@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Drawing
@inject HttpClient Http;
@code {
    string user = "User: ";
    string chatBot = "ChatBot: ";
    string topic = "";
    string response = "";
    string formattedResponse = "";
    List<string> messages = new List<string>();     

    private async Task GenerateInstagramPost()
    {

        Http = new HttpClient();
        //messages.Add(topic);

        var apiKey = "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";
        Http.DefaultRequestHeaders.Add("Authorization", $"Bearer {apiKey}");


        if(topic != ""){

            messages.Add(topic);
            var jsonContent = new
            {

                prompt = $"{topic}",
                model = "text-davinci-003",
                temperature = 0,
                max_tokens = 1000
            };
            var responseContent = await Http.PostAsync("https://api.openai.com/v1/completions", new StringContent(JsonConvert.SerializeObject(jsonContent), Encoding.UTF8, "application/json"));
            var resContext = await responseContent.Content.ReadAsStringAsync();

            var data = JsonConvert.DeserializeObject<dynamic>(resContext);
            messages.Add(string.Concat(data.choices[0].text.ToString()));
            //StateHasChanged();
            topic = "";
        }
        else if (topic == "")
        {

            topic = "What is a question?";
            messages.Add(topic);
            var jsonContent = new
            {
                prompt = $"{topic}",
                model = "text-davinci-003",
                temperature = 1,
                max_tokens = 1000
            };
            var responseContent = await Http.PostAsync("https://api.openai.com/v1/completions", new StringContent(Newtonsoft.Json.JsonConvert.SerializeObject(jsonContent), Encoding.UTF8, "application/json"));
            var resContext = await responseContent.Content.ReadAsStringAsync();

            var data = Newtonsoft.Json.JsonConvert.DeserializeObject<dynamic>(resContext);
            messages.Add(string.Concat(data.choices[0].text.ToString()));
            
            //StateHasChanged();
            topic = "";
        }
        StateHasChanged();
    }
    private async Task ClearBox()
    {
        topic = "";
        messages.Clear();
        StateHasChanged();
    }
    //var jsonContent = new
    //{
    //    prompt = $"{topic}",
    //    model = "text-davinci-003",
    //    temperature = 0,
    //    max_tokens = 4000
    //};

    //var responseContent = await Http.PostAsync("https://api.openai.com/v1/completions", new StringContent(Newtonsoft.Json.JsonConvert.SerializeObject(jsonContent), Encoding.UTF8, "application/json"));
    //var resContext = await responseContent.Content.ReadAsStringAsync();
    //var data = Newtonsoft.Json.JsonConvert.DeserializeObject<dynamic>(resContext);

    //messages.Add(data.choices[0].message.content;
    //StateHasChanged();
        //topic = "";
    private string backgroundColor = "white";

    private void ChangeBackgroundColor()
    {
        if (backgroundColor == "white")
        {
            backgroundColor = "black";
        }
        else
        {
            backgroundColor = "white";
        }
    }
    private void ChangeBackgroundColorRandom()
    {
        Color randomColor = GetRandomColor();
        backgroundColor = ColorToHex(randomColor);
    }

    private Color GetRandomColor()
    {
        Random random = new Random();
        return Color.FromArgb(random.Next(256), random.Next(256), random.Next(256));
    }

    private string ColorToHex(Color color)
    {
        return $"#{color.R:X2}{color.G:X2}{color.B:X2}";
    }
}
