@page "/InvalidUser"
@layout BaseLayout

<head>
    <title></title>
    <link rel="stylesheet" href="css/LoginStylesheet.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
</head>
<p style="text-align:center;"
    <h2 style="color:#f077fd;text-align:center;font-size:4rem;">User</h2>
    <h2 style="color:#f077fd;text-align:center;font-size:4rem;">Not Found</h2>
    <h5 style="color:black;text-align:center;font-size:2rem;">Return to homepage</h5>
</p >



@code {

}
