@page "/loginmodal"
@layout EmptyLayout
@using DataAccessLibrary;
@using System.Web;
<head>
    
    <title></title>
    <link rel="stylesheet" href="css/LoginStylesheet.css" />
     
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet"> 
     
</head>
<body>
     

    <div class="background">
         
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form>
        <h3 class=" heading-main"><img src="Images/fayettevilletech_logo_full.png" /></h3>
        <h3>Student Login</h3>

        <label for="username">Username</label>
        <input @bind = "username" type="text"  placeholder="Username" id="username">

        <label for="password">Password</label>
        <input @bind="password"  type="password" placeholder="Password" id="password">

        <button class="glow-on-hover" type="button" @onclick="Login">Log In</button>
         
         <div class="social">
             

            <div class="go"><a class="fab fa-google"  href="https://www.google.com">oogle</a></div>
            <div class="fb"> <a class="fab fa-facebook" href="https://www.facebook.com/">acebook</a></div>
            
        </div>
         
    </form>
      
</body>
 
@inject HttpClient Http;
@code {
    @inject NavigationManager NavManager
    string username = "";
    string password = "";
    GetPerson getPerson = null; 
     
    void Login()
    {

        //navigationManager.NavigateTo("/");

         
         
        if(GetPerson.VerifyPerson(username, password) == true)
        {               
            NavManager.NavigateTo("LoginTest", true);
        }
        else
        {           
            NavManager.NavigateTo("Error");  
        }              
    }

}
