@page "/logintest"
@layout EmptyLayout

<head>
    <!-- Design by foolishdeveloper.com -->
    <title>Glassmorphism login Form Tutorial in html css</title>
    <link rel="stylesheet" href="css/DashboardStylesheet.css" />
    <link rel="stylesheet" href="css/LoginStylesheet.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

   
</head>
 
<body class="dashboard-background">
    <h1 class="dashboard-heading">AI Powered</h1>
    <h3 class="dashboard-heading1">Welcome to FTCC Student Dashboard</h3>
    <br />
    <br />
    <h3 class="dashboard-heading1">Pending Development</h3>
     
     
</body>
 